<!DOCTYPE html>
{% load static %}
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="apple-touch-icon" sizes="76x76" href="{% static 'img/apple-icon.png' %}">
    <link rel="icon" type="image/png" href="{% static 'img/favicon.png' %}">
    <title>
        Telemedicine App
    </title>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700" />
    <link rel="stylesheet" href="{% static 'css/uicons-regular-rounded.css' %}" />
    <link id="pagestyle" rel="stylesheet" href="{% static 'css/argon-dashboard.css' %}" />
    </head>

    {% block content %}

    {% endblock content %}

</html>