{% extends 'main.html' %} {% load static %} {% block content %}
<body class="g-sidenav-show bg-gray-100">
    <div class="container min-vh-100 d-flex align-items-center justify-content-center"> 
        <div class="row justify-content-center w-100">
            <div class="col-xl-8 col-lg-10 col-md-11 mx-auto pt-3 pb-3">
                <div class="card z-index-0 shadow-lg">
                    <div class="card-header text-center pt-6 pb-2">
                        <h5 class="fs-4">ChatRoom</h5>
                    </div>
                    <div class="card-body px-4 py-3">
                        <div class="message px-4 py-3" id="chatContainer" 
                            style="max-height: 400px; overflow-y: auto; display: flex; flex-direction: column;">
                            {% for i in messages %}
                                {% if i.sender != user %}
                                    <div class="d-flex justify-content-start mb-2">
                                        <div class="form-control bg-secondary text-white p-2 rounded" style="max-width: 80%; text-align: left;">
                                            <p class="m-0">{{i.message}} <strong> - {{i.sender}}</strong></p>
                                        </div>
                                    </div>
                                {% else %}
                                    <div class="d-flex justify-content-end mb-2">
                                        <div class="form-control bg-primary text-white p-2 rounded" style="max-width: 80%; text-align: right;">
                                            <p class="m-0">{{i.message}}</p>
                                        </div>
                                    </div>
                                {% endif %}
                            {% endfor %}
                        </div>
                        <div class="form text-center mt-3">
                            <form action="" id="message-form" method="POST">
                                {% csrf_token %}
                                <textarea id="msg" cols="30" name="message" rows="4" placeholder="Enter your message" style="width: 100%; padding: 10px; border-radius: 8px; border: 1px solid #ccc; resize: none;" required></textarea>
                                <button type="submit" class="btn btn-success w-100 mt-2">Send</button>
                            </form>    
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>

<script>
    function scrollToBottom() {
        var chatContainer = document.getElementById("chatContainer");
        chatContainer.scrollTop = chatContainer.scrollHeight;
    }

    const websocketProtocol = window.location.protocol === "https:" ? "wss" : "ws";
    const wsEndpoint = `${websocketProtocol}://${window.location.host}/ws/notification/{{room_name}}/`;
    const socket = new WebSocket(wsEndpoint);

    document.getElementById('message-form').addEventListener('submit', function(event){
        event.preventDefault();
        const message = document.getElementById('msg').value;
        socket.send(
            JSON.stringify({
                'message': message,
                'room_name': '{{room_name}}',
                'sender': '{{user}}',
            })
        )
    });

    // response from consumer on server
    socket.addEventListener("message", (event) => {
        const messageData = JSON.parse(event.data)['message'];
        console.log(messageData);
        
        var sender = messageData['sender'];
        var message = messageData['message'];

        // empty message input field after message has been sent
        if (sender == '{{user}}'){
            document.getElementById('msg').value = '';
        }

        // Here's where we append the message to the chatbox.
        var messageDiv = document.querySelector('.message');
        if (sender != '{{user}}') { // assuming you have a variable `currentUser` to hold the current user's name
            messageDiv.innerHTML += '<div class="d-flex justify-content-start mb-2"><div class="form-control bg-secondary text-white p-2 rounded" style="max-width: 80%; text-align: left;"><p class="m-0">' + message + '<strong> - ' + sender + '</strong></p></div></div>';
        } else {
            messageDiv.innerHTML += '<div class="d-flex justify-content-end mb-2"><div class="form-control bg-primary text-white p-2 rounded" style="max-width: 80%; text-align: right;">' + message + '</div>';
        }
        scrollToBottom();

    });

    socket.onopen = (event) => {
        console.log("WebSocket connection opened!");
    };

    socket.onclose = (event) => {
        console.log("WebSocket connection closed!");
    };
    document.addEventListener("DOMContentLoaded", function () {
        var chatContainer = document.getElementById("chatContainer");
        chatContainer.scrollTop = chatContainer.scrollHeight;
    });
</script>
{% endblock content %}